* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

body {
    min-height: 100vh;
    background-color: #6d6b65; /* Slightly lighter shade than the navbar */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: auto; /* Allow vertical scrolling */
}

.image-banner {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    overflow: hidden; /* Hide overflow */
    margin-top: 80px; /* Adjust this value to move the image downwards */
}

.image-banner img {
    width: 100%;
    height: 220%;
    object-fit: cover; /* Cover the container */
    object-position: middle; /* Focus on the top part of the image */
}

nav {
    background-color: #484742; /* Updated navbar color */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 60px; /* Increased height of the navbar */
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

nav li {
    height: 100%; /* Match height to navbar height */
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white; /* Text color white */
    transition: color 0.3s; /* Smooth color transition */
}

nav a:hover {
    background-color: #f0f0f0;
    color: black; /* Text color black on hover */
}

nav .name {
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: white; /* Text color white */
    font-size: 16px; /* Adjust font size as needed */
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 460px; /* Adjust padding to account for fixed navbar and banner */
    background-color: #98978f; /* Match background color to body */
}

.text-container {
    flex: 1;
    color: #5f95ba; /* Text color */
    opacity: 0; /* Initially hide text */
    animation: slideInLeft 1s forwards, fadeIn 1s forwards; /* Animation for slide in and fade in */
}

.text-container p {
    margin-bottom: 20px; /* Add some spacing between paragraphs */
    line-height: 1.6; /* Adjust line height for readability */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}